legacy-peer-deps=true
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
# added this to fix sentry warning 
# https://docs.sentry.io/platforms/javascript/troubleshooting/#pnpm-resolving-import-in-the-middle-external-package-errors